{% extends 'layout.html'%} 
{% block content %}
        
    </div>
	 <!-- //banner-text -->
	    <section class="banner_bottom py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">About <span> Us</span></h2>
            </div>
			<div class="inner_sec_info_wthree_agile">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="../static/images/g7.jpg" alt=" " class="img-fluid">
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<br><br>
						<p>Discover the essence of our College where innovation, diversity, and academic excellence converge. Established with a rich heritage and a commitment to fostering intellectual growth, our institution stands as a beacon of learning. Dive into our vibrant community, where students, faculty, and staff collaborate to inspire change and make a lasting impact. Explore our history, mission, and values as we strive to empower the leaders of tomorrow.
	
					</p></div>
				</div>
			</div>
		</div>
	</section>
	<!--//ab-->

	{%endblock%}

</body>
</html>



