{% extends 'layout.html'%} 
{% block content %}
        
    </div>
	 <!-- //banner-text -->
	    <section class="banner_bottom py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">Contact <span> Us</span></h2>
            </div>
			<div class="inner_sec_info_wthree_agile">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="../static/images/contact.jpg" alt=" " class="img-fluid">
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<br><br>
						<p>For any help and furthur information contact us</p>

							
						<p>Anjali - 9188008700 , anjalinandana10@gmail.com<br>


							Arya - 9526104191 , aryarajan538@gmail.com<br>


							Ditna - 8089381961 , liyamol989@gmail.com
							 </p></div>
				</div>
			</div>
		</div>
	</section>
	<!--//ab-->

	{%endblock%}

</body>
</html>



