{% extends 'layout.html'%} 
{% block content %}
        
    </div>
	 <!-- //banner-text -->
	    <section class="banner_bottom py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">Courses</h2>
            </div>
			<div class="inner_sec_info_wthree_agile">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="../static/images/g8.jpg" alt=" " class="img-fluid">
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<br><br>
						<p>We offer a wide variety of courses so that you can choose what you are really passionate about...our courses include:</p>

							
						<p>Mechatronics Engineering<br>Mechanical Engineering<br>Electrical and Electronics Engineering<br>Electronics and Communication Engineering<br>Computer Science and Engineering<br>Computer Science and Engineering(AI and ML)
							 </p></div>
				</div>
			</div>
		</div>
	</section>
	<!--//ab-->

	{%endblock%}

</body>
</html>



