{% extends 'layout.html'%} 
{% block content %}
        
    </div>
	 <!-- //banner-text -->
	    <section class="banner_bottom py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4"> Events</h2>
			   <p>Our college has a wide range of events including Bloom,Aarav,Nsite,Graduation Ceremony Onam celebration,Vishu celebrrations and a whole lot </p></div>
            </div>
			<div class="inner_sec_info_wthree_agile">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="../static/images/celeb2.jpg" alt=" " class="img-fluid" width="500px" height="500px">
						<img src="   ../static/images/nsite.jpg" alt=" " class="img-fluid" >

						
						
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<img src="../static/images/bloom.jpg" alt=" " class="img-fluid">
						<img src="../static/images/eventbloom.jpg" alt=" " class="img-fluid">

						<br><br>
		
				</div>
			</div>
		</div>
	</section>
	<!--//ab-->

	{%endblock%}

</body>
</html>



