{% extends 'layout.html'%} 
{% block content %}
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text">
                
            </div>
			<div class="banner-top pb-5">
                <div class="row slider-bottom" style="margin-left: 900px;">
					<!-- <button>collegiate chatter</button> -->

                   
					   
				</div>
            </div>
        </div>
    </div>
	 <!-- //banner-text -->
	<section class="about-w3ls py-5">
		<div class="container pt-xl-5 pb-lg-3">
			<div class="row">
				<div class="col-lg-7">
					
					<img src="..//static/images/college.jpg" alt="" class="img-section4 img-fluid">
				</div>
				<div class="col-lg-5 section-4">
					<div class="agil_mor">
						
						<p class="vam" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 10px;">Welcome to our college,where academic <br>excellence meets vibrant campus life.<br>Explore our diverse range of programs,<br>cutting-edge research opportunities and <br>supportive community.Join us in shaping the leaders of tommorrow. </p>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-w3ls py-5">
		<div class="container pt-xl-5 pb-lg-3">
			<div class="row">
				<div class="col-lg-5 section-5">
					<div class="agil_mor">
						
						<p class="vam" >Chatbots are widely considered the next best thing after the emergence of the web.
							 Quite like the internet, they have the world in thrall for the underlying capabilities and potential.
							  Everybody wants a piece of chatbot benefits and the reasons are obvious for that. After all,
							 they make life easier for businesses and individuals alike.Try our chatbot 'Collegiate Chatter' which will virtually assist you.   </p>
						
					</div>
				</div>
				<div class="col-lg-7">
					<img src="../static/images/a5.jpg" alt="" class="img-section4 img-fluid">
				</div>
				
			</div>
		</div>
	</section>
 
	

	
{%endblock%}

</body>
</html>