<!DOCTYPE html>
<html lang="zxx">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
    <title>COLLEGIATE CHATTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Indoctrination Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="../static/css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-df3n9gT7T92ai8dRQblxGIlCJn9ym0YOgR1BUckBe3XXN3OvEGJWWl6hF1DK4NlT" crossorigin="anonymous">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <!-- header -->
    <header>	
	<nav class="mnu navbar-light">
            <div class="logo" id="logo">
                <h1><a href="/" style="color:black">NEHRU COLLEGE OF ENGINEERING AND RESEARCH CENTRE(DEMO COLLEGE WEBSITE)</a></h1>
            </div>
				<label for="drop" class="toggle"><span class="ti ti-menu"></span></label>
                <input type="checkbox" id="drop">
                    <ul class="menu">

                        <li class="mr-lg-4 mr-3" ><a href="/" style="color:black">Home</a></li>
						<li class="mr-lg-4 mr-3"><a href="/about" style="color:black" >About</a></li>
                        <li class="mr-lg-4 mr-3"><a href="/courses" style="color:black" >Courses</a></li>
                        <li class="mr-lg-4 mr-3"><a href="/events" style="color:black">Events</a></li>
                        <li class="mr-lg-4 mr-3"><a href="/contact" style="color:black">Contact</a></li>
                        <li class="mr-lg-4 mr-3"><a href="/chats" style="color:black">Chat</a></li>

					
                    </ul>
    </nav>
</header>
<!-- //header -->


{%block content%}
{%endblock%}

<!--footer-->
<!-- <footer>
    <div class="container py-md-4 mt-md-3">
        <div class="row footer-top-w3layouts-agile py-5">
            
            <div class="col-md-4 footer-grid">
                <div class="footer-title">
                    <h3>IES College of Engineering</h3>
                </div>
                <div class="footer-text">
                    <p>
                        IES College of Engineering is a leading institution dedicated to providing quality education 
                        in the field of engineering and technology. Our commitment to excellence and innovation 
                        sets us apart in the education sector.
                    </p>
                    <p>
                        <i class="fa fa-map-marker"></i> &nbsp;<strong>Address:</strong> IES College of Engineering,
                        P.O. Chittilappilly, Thrissur Dt,
                        Kerala, India - 680 551.
                        <br>
                        <i class="fa fa-phone"></i>&nbsp; <strong>Phone:</strong> 0487-2309966, 67
                        <br>
                        <i class="fa fa-envelope"></i> &nbsp;<strong>Email:</strong>  mail@iesce.info
                    </p>
                </div>
            </div>
         
            <div class="col-md-4 footer-grid" style="margin-top:50px;">
                <div class="footer-list">




                    <div class="flickr-grid">
                        <a href="../static/images/h1.jpg">
                            <img src="../static/images/h1.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/h8.jpg">
                            <img src="../static/images/h8.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/h3.jpg">
                            <img src="../static/images/h3.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/h4.jpg">
                            <img src="../static/images/h4.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/a8.jpg">
                            <img src="../static/images/a8.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/a5.jpg">
                            <img src="../static/images/a5.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/a7.jpg">
                            <img src="../static/images/a7.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/a3.jpg">
                            <img src="../static/images/a3.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="flickr-grid">
                        <a href="../static/images/a2.jpg">
                            <img src="../static/images/a2.jpg" class="img-fluid" alt=" ">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

           
            <div class="col-md-3 footer-grid">
                <div class="footer-title">
                    <h3>Our Location</h3>
                </div>
                <div class="footer-text">
                   
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15688.816489619727!2d76.148417!3d10.563194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7ec6ea648ed99%3A0x4546846953e9ee7c!2sIES%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1700587831822!5m2!1sen!2sin"
                     width="400" height="230" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html> -->
